<html>
<head>
<link type="text/css" rel="stylesheet" href="../assets/style.css"/>
</head>
<body class="form-style-1">

<br>
<h1><b>&emsp;MongoDB CRUD Demo</b></h1>
<br>

<!-- Confirmation -->
<form method="GET" action="/">
    <ul>   
        <fieldset>
        <legend>Person Deleted</legend>
        <label>Mongo ID:</label><br>
        <input type="text" name="personid" id="personid" class="field-small" value="<%= _id %>" readonly/>
              
        <br><br><input type="submit" value="Ok"/>       
        </fieldset>
        </ul>
</form>

</body>

</html>
