<html>
<head><link rel="stylesheet" type="text/css" href="/assets/styles.css"/></head>

<body style="background-color: rgb(229, 245, 250);">
<title>MongoDB CRUD Demo</title>
<div class="simple-style">
<div>
    <h2>MongoDB CRUD Demo</h2><hr>
</div>
<br>

<!-- Confirmation -->
<form method="GET" action="/">
     
    <legend>Person Deleted</legend><hr>
    <ul>   
        <label>Mongo ID:</label>
        <input type="text" name="mongoid" id="mongoid" class="field-small" value="<%= _id %>" readonly/>
                
        <br><br><input type="submit" value="Ok"/>       
    </ul>
</form>
</div>
</body>
</html>
