<html class="form-style-1">
<head>
<link type="text/css" rel="stylesheet" href="../assets/style.css"/>
</head>
<body class="form-style-1">


<h1><b>MongoDB CRUD Demo</b></h1>
<title>MongoDB CRUD Demo</title>

<!-- Confirmation -->
<form method="GET" action="/">
    <ul>   
     
    <legend>Person Deleted</legend><hr>
    <label>Mongo ID:</label>
    <input type="text" name="personid" id="personid" class="field-small" value="<%= _id %>" readonly/>
            
    <br><br><input type="submit" value="Ok"/>       

    </ul>
</form>

</body>

</html>
