<html class="form-style-1">
<head>
    <link href="assets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body class="form-style-1">

<h1><b>MongoDB CRUD Demo</b></h1>

<ul>
<!-- Confirmation -->
<form method="GET" action="./">
 
       
               <legend>Person Created</legend><hr>
       
               <label>Person ID:</label>
               <input value="<%= personid %>" type="text" name="personid" id="personid" class="field-small" placeholder="Person ID" readonly/>
               <br>
    
               <label>Full Name:</label>
               <input value="<%= firstname %>" type="text" name="firstname" id ="firstname" class="field-small" placeholder="First Name"  size=35 readonly/>
               <input value="<%= surname %>" type="text" name="surname" id="surname" class="field-small" placeholder="Surname" size=35 readonly/>
               
               <label>Telephone:</label>
       
               <input value="<%= telephone %>" type="number" name="telephone" id ="telephone" class="field-small" placeholder="Telephone" size=50 readonly>
               <br><br><input type="submit" value="Ok" />
       
</form>
</ul>
    
</body>

</html>
