<html>
<head><link rel="stylesheet" type="text/css" href="/assets/styles.css"/></head>

<body style="background-color: rgb(229, 245, 250);">
<title>MongoDB CRUD Demo</title>
<div class="simple-style">
<div>
    <h2>MongoDB CRUD Demo</h2><hr>
</div>
<br>


<!-- Confirmation -->
<form method="GET" action="./">

    <span>Person Created:</span><hr>
    <ul>
        <label>Full Name:</label>
        <input value="<%= firstname %>" type="text" name="firstname" id ="firstname" class="field-small" placeholder="First Name"  size=35 readonly/>
        <input value="<%= surname %>" type="text" name="surname" id="surname" class="field-small" placeholder="Surname" size=35 readonly/>
        
        <label>Telephone:</label>

        <input value="<%= telephone %>" type="number" name="telephone" id ="telephone" class="field-small" placeholder="Telephone" size=50 readonly>
        <br><br><input type="submit" value="Ok" />
    </ul>
</form>

    
</body>

</html>
