<style type="text/css">

.form-style-1  {
    margin: 50px;
}


.form-style-1 body {
    margin: 15px;
    background-color: rgb(240, 249, 250);
}

.form-style-1 span {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.form-style-1 h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:10px 0 10px 0;
    display:block;
 }
 

.form-style-1 h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
 }

 .form-style-1 h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
 }
 

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}


.form-style-1 fieldset {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    display: block;
    list-style: none;
    margin: 10px 10px 10px 10px;
    width: 600;
    background-color: rgb(228, 230, 252);
}


.form-style-1 legend {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:30 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    font-size: 19;
}

.form-style-1 label {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:12px 0 3 0;
    padding:0px;
    display:block;
    font-size: 14;
}

.form-style-1 textarea {
    padding:7px;
    display:block;
    font-weight: bold;
    font: 14px;
    background-color: rgb(245, 246, 255);
}

.form-style-1 form {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    font: 14px;
 }

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}
.form-style-1 .field-small{
    width: 45%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-style-1 .required{
    color:red;
}

input[readonly]
{
    background-color: rgb(245, 246, 255);
    
}
</style>